<!DOCTYPE html>
<html data-ng-app="algxApp" data-ng-controller="algxController"  lang="zh-cn">
<head>

  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <!-- import bootstrap-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="lib/bootstrap/bootstrap.min.css">


  <title >zhTimer--动画生成插件</title>



  <link rel="search" type="application/opensearchdescription+xml" href="searchDescription.xml" title="alg.cubing.net"/>

  <link href="alg.cubing.net.css" rel="stylesheet" type="text/css" />
  <link href="viewer.css" rel="stylesheet" type="text/css" />
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />

  <!-- twisty.js libraries and code -->
  <script src="twisty.js/lib/jquery-1.11.0.min.js"></script>
  <!--// add by kira-->
  <script src="lib/gif/gif.js"></script>
  <script src="lib/gif/gif.worker.js"></script>
  <script src="lib/bootstrap/bootstrap.min.js"></script>
  <script src="lib/ZeroClipboard/jquery.zclip.min.js"></script>


  <script src="twisty.js/lib/Three.js"></script>
  <script src="twisty.js/twisty.js"></script>
  <script src="twisty.js/alg/alg_jison.js"></script>
  <script src="twisty.js/alg/alg.js"></script>
  <script src="twisty.js/puzzles/cube.js"></script>

  <!-- alg.cubing.net libraries and code -->
  <script src="lib/angular.js"></script>
  <script src="lib/angular-debounce.js"></script>
  <script src="lib/clipboard.js"></script>
  <script src="lib/elastic.js"></script>
  <script src="alg.cubing.net.js"></script>

</head>
<body>

  <!--<div id="toast" style="display:none;">
  </div>
  -->
  <div  id="copy_alert" style="display:none;">
      <div><h2>解法信息</h2></div>

        <div class="form-group" id="p_Clipboard">
        </div>

    <div>
      <button type="button" class="btn btn-default" onclick="$('#copy_alert').hide()">确定</button>
    </div>



  </div>


  <div id="display-wrapper"
       data-ng-class="{'fullscreen': view.fullscreen, 'algDelayed': algDelayed || setupDelayed, 'invalid': algStatus == 'invalid' || setupStatus == 'invalid'}">

    <div id="viewer">
    </div>
    <!--控制工具栏-->
    <div id="controls">
      <button class="control" id="cycleView" title="切换视角" data-ng-click="nextView()">
        <i class="fa fa-cube"></i>
      </button><button class="control" id="reset" title="重头开始">
        <i class="fa fa-fast-backward"></i>
      </button><button class="control" id="back" title="撤销一步转动">
        <i class="fa fa-mail-reply"></i>
      </button><button class="control" id="play" title="播放">
        <i class="fa fa-play" data-ng-show="!animating"></i><i class="fa fa-pause" data-ng-show="animating"></i>
      </button><button class="control" id="forward" title="执行一步转动">
        <i class="fa fa-mail-forward"></i>
      </button><button class="control" id="skip" title="跳到结尾">
        <i class="fa fa-fast-forward"></i>
      </button>
    </div>
    <!--//进度条部分-->
    <div id="progress">
      <input
        id="currentMove"
        data-ng-model="current_move"
        type="range"
        min="0"
        max="1"
        step="0.01"
      >
    </div>

  </div><div id="info-wrapper" data-ng-show="view.infoPane">
    <div id="info">
      <div>
        <h2>这个小工具可以帮你把还原解法转换为可视化的影片，他的使用非常简单，在打乱中输入打乱公式后在解法文本框中写下你的解法即可。你也可以点击旁边的按钮来查看我们为您写好的一个实例</h2>
        <div class="section buttons" id="examples">
          <button type="button" class="btn btn-default" href="" data-ng-click="demo('mats-5.55');">实例1</button>
          <button type="button" class="btn btn-default"  href="" data-ng-click="demo('T-Perm');">实例2</button>
        </div>
      </div>

      <h2>设置</h2>
      <div class="section">
        <select data-ng-model="puzzle" data-ng-options="p.name group by p.group for p in puzzle_list"></select>
        <select data-ng-model="stage" data-ng-options="s.name group by s.group for s in stage_list" data-ng-disabled="puzzle.name != '3x3x3'"></select>
        <select data-ng-model="type" data-ng-options="a.name group by a.group for a in type_list"></select>配色:
        <select data-ng-model="scheme" data-ng-options="s.name for s in scheme_list"></select>
        <input class="current_scheme ng-pristine ng-valid ng-hide" type="text" data-ng-model="custom_scheme" data-ng-show="scheme.custom" data-ng-value="scheme.scheme" value="grobyw">
        <input class="current_scheme" type="text" data-ng-show="!scheme.custom" data-ng-readonly="true" data-ng-value="scheme.scheme" value="grobyw" readonly="readonly">
        <br>
        播放速度:
        <input type="range" min="0.1" max="6" step="0.1" style="vertical-align: middle;" data-ng-model="speed"> (<span data-ng-bind="speed">1</span>x)
        <input id="hint_stickers" type="checkbox" data-ng-model="hint_stickers" /> <label for="hint_stickers">反射面</label>
        <input id="hollow" type="checkbox" data-ng-model="hollow" /> <label for="hollow">透明底</label>
      </div>


      <div data-ng-show="!(view.id == 'playback' && setup == '')">

        <h2 data-ng-bind="type.setup">打乱</h2>
        <textarea
          id="setup"
          class="moves"
          data-ng-model="setup"
          data-ng-trim="false"
          data-ng-class="[setupStatus]"
          data-ng-class="{'invalid': !setupValid, 'hoverHighlight': view.highlightMoveFields}"
          data-msd-elastic
          placeholder="[在此输入打乱，可以直接复制计时器中的打乱。例如：L2 F' U2 B F2 L2 B2 F' R2 D' R U' F' L U' F D2 L F2]"
          data-debounce="1000"
          data-debounce-callback="setupDebounce"
          style="height: 2em;"
        ></textarea>
      </div>
      <div>
        <h2><span data-ng-bind="type.alg">解法</span>
          <span title="h = obtm, q = obqtm, s = btm, e = etm" id="metrics">
                (<span data-ng-bind="obtm">0</span>h,
                <span data-ng-bind="obqtm">0</span>q,
                <span data-ng-bind="btm">0</span>s,
                <span data-ng-bind="etm">0</span>e)
              </span>
        </h2>
        <div id="algorithm_wrapper">
        <div id="algorithm_shadow" class="moves"><span id="start">
          </span><span id="middle" class="highlight" style="display: none;">
          </span></div>

            <textarea
                    id="algorithm"
                    class="moves"
                    data-ng-model="alg"
                    data-ng-trim="false"
                    data-ng-class="[algStatus]"
                    data-ng-class="{'hoverHighlight': view.highlightMoveFields}"
                    data-msd-elastic
                    placeholder="[在此输入解法或者公式，提示使用//可以插入注释]"
                    autofocus
                    data-debounce="1000"
                    data-debounce-callback="algDebounce">
            </textarea>


            <a style=" padding: 10px" href="." onclick="$('#input-button-group').toggle();">输入工具</a>




          <!--这里是按钮组-->
          <div id="input-button-group" style="display: none;">
            <div class="btn-group-sm" role="group" aria-label="input-button">
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','U ');">U </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','D ');">D </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','R ');">R </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','L ');">L </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','F ');">F </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','B ');"style="margin-right: 30px">B </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','x ');">x </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','y ');">y </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','z ');"style="margin-right: 10px">z </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','// ');">// </button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','Cross ');">Cross</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','F2L ');">F2L</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','OLL ');">OLL</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','PLL ');">PLL</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','Skip ');">Skip</button>
            </div>
            <!-- 前面几个带‘的需要转移字符，注意！-->
            <div class="btn-group-sm" role="group" aria-label="input-button">
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","U&apos; "); '>U' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","D&apos; "); '>D' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","R&apos; "); '>R' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","L&apos; "); '>L' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","F&apos; "); '>F' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","B&apos; "); 'style="margin-right: 30px">B' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","x&apos; "); '>x' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","y&apos; "); '>y' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","z&apos; "); 'style="margin-right: 10px">z' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","&apos; "); '>'</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','Xcross ');">Xcross</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','1st ');">1st</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','2nd ');">2nd</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','3rd ');">3rd</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','4th ');">4th</button>
            </div>
            <div class="btn-group-sm" role="group" aria-label="input-button">
              <button type="button" class="btn btn-default singleWordFormula"   data-ng-click="insert_string_into_textarea('algorithm','u ');">u </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','d ');">d </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','r ');">r </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','l ');">l </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','f ');">f </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','b ');"style="margin-right: 30px">b </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','M ');">M </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","M&apos; ");'>M' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click="insert_string_into_textarea('algorithm','2 ');"style="margin-right: 10px">2 </button>
              <button type="button" class="btn btn-default singleWordFormula " data-ng-click="insert_string_into_textarea('algorithm','( ');">( </button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","RUR&apos;U&apos; ");'>RUR'U'</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","RU&apos;R&apos;U ");'>RU'R'U</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","R&apos;URU&apos; ");'>R'URU'</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","RU&apos;R ");'>RU'R</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","R&apos;UR ");'>R'UR</button>
            </div>
            <!-- 前面几个带‘的需要转移字符，注意！-->
            <div class="btn-group-sm" role="group" aria-label="input-button">
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","u&apos; "); '>u' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","d&apos; "); '>d' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","r&apos; "); '>r' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","l&apos; "); '>l' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","f&apos; "); '>f' </button>
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","b&apos; "); 'style="margin-right: 30px">b' </button>
              <button type="button" style="margin-right: 10px" class="btn btn-default forthWordFormula" onclick="$('#algorithm').val(''); ">清空 </button>

              <!--<button type="button" class="btn btn-default doubleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","z&apos; "); 'style="margin-right: 10px">复制 </button>-->
              <button type="button" class="btn btn-default singleWordFormula" data-ng-click='insert_string_into_textarea("algorithm",")"); '>)</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","RU&apos;U&apos; ");'>RU'U'</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","R&apos;U2 ");'>R'U2</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","RUR&apos; ");'>RUR'</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","URU&apos;R&apos; ");'>URU'R'</button>
              <button type="button" class="btn btn-default doubleWordFormula" data-ng-click='insert_string_into_textarea("algorithm","UR&apos;U&apos;R ");'>UR'U'R</button>
          </div>


        </div>
      </div>
      <div data-ng-show="view.extraControls">





          <div>
            <h2>工具</h2>
            <div class="section buttons" id="tools">
              <div class="btn-group-lg" role="group">
                <!--<button type="button" class="btn btn-default" data-ng-click="expand();">Expand</button>-->
                <button type="button" class="btn btn-default" data-ng-click="simplify();">消除多余步骤</button>
                <button type="button" class="btn btn-default"  data-ng-click="clear();">清空</button>
                <button type="button" class="btn btn-default"  data-ng-click="reset();">重置</button>
                <!--<button  id="copy_button" type="button" class="btn btn-default" data-toggle="modal" data-target=".bs-example-modal-lg">分享解法</button>-->
                <button  id="copy_button" type="button" class="btn btn-default" onclick="$('#copy_alert').show();">分享解法</button>
                <br>
                <button type="button" class="btn btn-default" data-ng-click="mirrorAcrossM();"><i class="fa fa-arrows-h"></i> 镜像 (M)</button>
                <button type="button" class="btn btn-default" data-ng-click="mirrorAcrossS();"><i class="fa fa-expand"></i> 镜像(S)</button>
                <!--<button type="button" class="btn btn-default"  data-ng-click="invert();"><i class="fa fa-backward"></i>上一步</button>-->
                <button type="button" class="btn btn-default"  data-ng-click="image();">>转化图片</button>
                <button type="button" class="btn btn-default" disabled data-ng-click="gif();">>转化gif动画</button>
              </div>
              <right><div id="canvasPNG"></div></right>
              </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!--<div class="gif_div">-->
    <!-- -->

  <!--</div>-->

</body>
</html>